.image-section {
  display: flex;
  flex-direction: column;
  fill: url("<path-to-image>") lightgray 50% / cover no-repeat;
  overflow: hidden;
  position: relative;
  min-height: 645px;
  color: #fff;
  justify-content: center;
}
.image-container {
  display: flex;
  /*! width: 100%; */
  justify-content: center;
}

.main-image {
  width: 100%;
  max-width: 600px; /* 최대 너비 유지 */
  height: auto;
}

.group-child,
.intersect-icon {
  position: relative;
  width: 1280px;
  height: 645px;
  background-color: rgba(65, 45, 97, 0.8);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(65, 45, 97, 0.8);
}
.ai {
  position: relative;
  line-height: 72px;
}
.p {
  margin: 0;
}
/* .div {
  width: 459px;
  position: relative;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
} */
.copy-child {
  width: 415px;
  height: 32px;
}
.copy {
  position: absolute;
  top: 188px;
  left: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}
.main-parent {
  width: 1280px;
  max-width: 100%;
  height: 645px;
  text-align: left;
  font-size: 72px;
  color: var(--color-white);
  font-family: var(--font-pretendard-variable);
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  padding: 2.5rem 1rem; /* 패딩을 조정하여 반응형으로 대응 */
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 6rem;
}
.accordians {
  display: flex;
  flex-direction: column;
  /*! align-items: center; */
  /*! background-color: #eee; */
  padding: 2.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 6rem;
  max-width: 70rem;
}
.upload-container {
  width: 100%;
  max-width: 70rem;
}

.upload-title {
  color: #000;
  font: 700 2em Pretendard Variable, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
}

.upload-form {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  width: 100%;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.33;
  /*! max-width: 1200px; */
  font-family: Pretendard Variable, -apple-system, Roboto, Helvetica, sans-serif;
}

.file-select-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
  background-color: #7030c1;
  color: #fff;
  text-align: center;
  padding: 14px 1rem; /* 패딩 조정 */
  font-family: Pretendard Variable, -apple-system, Roboto, Helvetica, sans-serif;
  width: 100%;
  margin: 0.5rem;
  transition: box-shadow 0.3s ease;
}

.file-info {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  color: #7878ab;
  font-weight: 400;
  line-height: 2;
  justify-content: center;
  width: 235%;
}

.file-name-display {
  display: flex;
  align-items: center; /* 'start'에서 'center'로 변경 */
  border-radius: 40px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.11) inset;
  background-color: #f5f5fa;
  justify-content: center;
  padding: 0.5rem;
  font-family: Pretendard Variable, -apple-system, Roboto, Helvetica, sans-serif;
}

.file-upload-button {
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 10px rgba(170,170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
  background-color: #f5f5fa;
  padding: 0.5rem 1rem;
  color: #000;
  width: 100%;
  justify-content: center;
  margin: 0.5rem;
  transition: box-shadow 0.3s ease;
}

.upload-icon {
  aspect-ratio: 0.67;
  object-fit: cover;
  object-position: center;
  width: 20px;
  margin-left: 0.5rem;
}


.results-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 227, 240);
  /*! width: 100%; */
  padding: 2rem;
  animation: fadeIn 2s ease-in;
  align-items: center;
  position: relative;
}
.results-header {
  color: #000;
  text-align: center;
  font: 700 36px/39px Pretendard Variable, -apple-system, Roboto,
    Helvetica, sans-serif;
    padding-top: 50px;
}
.results-bullet {
  color: rgba(142, 77, 247, 0.25);
  text-align: center;
  margin-top: 26px;
  font: 500 52px/62% Pretendard Variable, -apple-system, Roboto,
    Helvetica, sans-serif;
}
.results-bullet.dimmed {
  color: rgba(142, 77, 247, 0.72);
  text-align: center;
  margin-top: 26px;
  font: 500 52px/62% Pretendard Variable, -apple-system, Roboto, Helvetica, sans-serif;
}
.results-bullet.highlight {
  color: #8e4df7;
  text-align: center;
  margin-top: 26px;
  font: 500 52px/62% Pretendard Variable, -apple-system, Roboto, Helvetica, sans-serif;
}
.results-duration {
  color: #000;
  text-align: center;
  margin-top: 30px;
  font: 500 24px/32px Pretendard Variable, -apple-system, Roboto,
    Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  padding: 36px 60px;
  font-size: 24px;
  color: #000;
  font-weight: 500;
  text-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.files-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .files-wrapper {
    flex-wrap: wrap;
  }
}
.files-wrapper-2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 2rem;
}
.file-download-button {
  display: flex;
  align-items: center;
  border-radius: 32px;
  background-color: #f5f5fa;
  padding: 12px 37px;
  box-shadow: 5px 5px 10px 0px rgba(170, 170, 204, 0.25), 10px 10px 20px 0px rgba(170, 170, 204, 0.5);
  gap: 14px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.3s ease;
}

@media (max-width: 991px) {
  .file-card {
    padding: 12px 20px;
  }
}

/* .file-card:focus {
  box-shadow: 0 0 0 3px rgba(170, 170, 204, 0.5);
} */

.file-image {
  width: 24px;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
}

.file-description {
  flex-grow: 1;
  flex-basis: auto;
  font-family: "Pretendard Variable", -apple-system, "Roboto", "Helvetica", sans-serif;
}

.results-container2 {
  border-radius: 24px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.11) inset;
  background-color: #fff;
  margin-top: 57px;
  padding: 30px 28px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
}
.speaker-results {
  gap: 58px;
  display: flex;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.speaker {
  display: flex;
  flex-direction: column;
  line-height: normal;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .speaker {
    width: 100%;
  }
}
.speaker-header {
  align-self: stretch;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  margin-right: -4px;
  padding-right: 22px;
  max-width: 100%;
}
.div-9 {
  justify-content: end;
  display: flex;
  gap: 20px;
  color: #fff;
  text-align: center;
  line-height: 133%;
  padding: 0 1px;
  background: none;
  border: none;
  cursor: pointer;
  /*! width: ; */
}
@media (max-width: 991px) {
  .div-9 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}


input[type="checkbox"] {
  width: 36px; 
  height: 36px; 
  accent-color: #666;
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

.results-bullet {
  animation: blink 3s infinite;
}

.results-bullet.blink {
  animation-delay: 0s;
}

.results-bullet.dimmed {
  animation-delay: 0.3s;
}

.results-bullet.highlight {
  animation-delay: 0.6s;
}


