        .image-section {
          display: flex;
          flex-direction: column;
          align-items: start;
          background-color: rgba(56, 56, 56, 0.8);
          padding: 67px 60px 38px;
          width: 100%;
        }
        @media (max-width: 991px) {
          .image-section {
            padding: 0 20px;
          }
        }
        .image-container {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-left: 29px;
        }
        .main-image {
          aspect-ratio: 1.33;
          object-fit: cover;
          object-position: center;
          width: 724px;
          max-width: 100%;
        }
        .upload-section {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #eee;
          padding: 49px 60px 80px;
          width: 100%;
        }
        @media (max-width: 991px) {
          .upload-section {
            padding: 0 20px;
          }
        }
        .upload-container {
          display: flex;
          flex-direction: column;
          width: 821px;
          max-width: 100%;
          align-items: center;
        }
        .upload-title {
          color: #000;
          font: 700 36px/108% Pretendard Variable, -apple-system, Roboto, Helvetica, sans-serif;
          text-align: center;
        }
        .upload-form {
          display: flex;
          flex-direction: column;
          margin-top: 65px;
          width: 100%;
          gap: 20px;
          font-size: 24px;
          font-weight: 500;
          line-height: 1.33;
          max-width: 100%;
        }
        @media (max-width: 991px) {
          .upload-form {
            flex-wrap: wrap;
            margin-top: 40px;
          }
        }
        .file-select-button {
          justify-content: center;
          border-radius: 32px;
          box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
          background-color: #7030c1;
          color: #fff;
          text-align: center;
          padding: 14px 37px;
          font-family: Pretendard Variable, -apple-system, Roboto, Helvetica, sans-serif;
        }
        @media (max-width: 991px) {
          .file-select-button {
            padding: 0 20px;
          }
        }
        .file-info {
          display: flex;
          flex-direction: column;
          font-size: 20px;
          color: #7878ab;
          font-weight: 400;
          line-height: 2;
          justify-content: center;
        }
        @media (max-width: 991px) {
          .file-info {
            max-width: 100%;
          }
        }
        .file-upload {
          display: flex;
          align-items: start;
          border-radius: 40px;
          box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5) inset,
            2px 2px 4px rgba(170, 170, 204, 0.25) inset,
            5px 5px 10px rgba(170, 170, 204, 0.5) inset;
          background-color: #f5f5fa;
          justify-content: center;
          padding: 15px 32px;
        }
        @media (max-width: 991px) {
          .file-upload {
            max-width: 100%;
            padding: 0 20px;
          }
        }
        .file-upload-button {
          display: flex;
          align-items: center;
          border-radius: 32px;
          box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
          background-color: #f5f5fa;
          padding: 9px 25px;
          color: #000;
        }
        @media (max-width: 991px) {
          .file-upload-button {
            padding-left: 20px;
          }
        }
        .upload-icon {
          aspect-ratio: 0.67;
          object-fit: cover;
          object-position: center;
          width: 20px;
        }