{% block content %}
    <form method="post" action="/filter"> <!-- POST 요청으로 선택한 체크박스 데이터 전송 -->
        <div>
            {% for key, value in data.items() %}
                <div class="task">
                    <input type="checkbox" name="{{ key }}" id="{{ key }}" {% if value %} checked {% endif %}>
                    <label for="{{ key }}">{{ key }}</label>
                </div>
            {% endfor %}
        </div>
        <button type="submit">선택 필터 적용</button>
    </form>

    {% if files %}
        <h2>다운로드 가능한 파일</h2>
        <ul>
            {% for key, file_link in files.items() %}
                <li>
                    SPEAKER {{ key }}: <a href="{{ file_link }}">다운로드</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}