/* 기본 스타일 */
.accordion {
  margin: 10px 0;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(170,170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
  border-radius: 1rem;
}

/* .accordion:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* 헤더 스타일 */
.accordion-header {
  background-color: #fff; /* 보라색 */
  color: #000000;
  padding: 15px 20px;
  /* cursor: pointer; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  border-radius: 1rem;
  /*! box-shadow: 0 4px 8px #dacaf5; */
  /* min-width: 70rem; */
  box-shadow: 5px 5px 10px rgba(170,170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
}
/* 화살표 부분만 포인터 커서 적용 */
.accordion-header span {
  font-size: 1.5em;
  transition: transform 0.3s;
  cursor: pointer; /* 여기에서 포인터 커서를 추가 */
}

.accordion-header span.open {
  transform: rotate(180deg);
}

.accordion-header:hover {
  background-color: #7030c1; /* 연보라색 */
  color: white;
}

/* 헤더 제목 스타일 */
.accordion-header h3 {
  margin: 0;
  font-size: 1.25em;
}

/* 내용 스타일 */
.accordion-content {
  padding: 15px 20px;
  border-top: 1px solid #ccc;
  background-color: #fff; /* 연한 보라색 */
  animation: fadeIn 0.3s;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px rgba(170,170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
  color: black;
}

/* 아이콘 스타일 */
.accordion-header span {
  font-size: 1.5em;
  transition: transform 0.3s;
}

.accordion-header span.open {
  transform: rotate(180deg);
}

/* 애니메이션 효과 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
li {
  margin: 1rem 2rem;
}

